  <div class="ext_style">
    <div class="tab_bar">
      <%= ricket_tab "Users", users_path, params[:controller] == 'users' %>
      <%= ricket_tab "Ideas", ideas_path, params[:controller] == 'ideas' %>
      <%= ricket_tab "Ranks", ranks_path, params[:controller] == 'ranks' %>
  	</div>
  </div>

